// colors
$blue: #3876fc;
$red: #f56642;
$orange: #f0a326;
$yellow: #f0d826;
$green: #56de37;
$white: #ffffff;
$brown: #964b00;
$pink: #ff69b4;
$hazel: #cbce86;
$gold: #ffd700;
$black: #000000;
$blue-gray: #6699cc;

// breakpoints
$br-small: 576px;
$br-medium: 768px;
$br-large: 992px;
$br-xlarge: 1200px;
